env
env/*
superstyl/preproc/models/*
.idea/*
*.pyc
feats*.csv
features.txt
*.model.tar
./test.csv
full_feats.csv
/*.csv
*.tar*
*lock*
feature*.json
full_feats*.csv
mySVM.joblib
.DS_Store
*.DS_Store
.ipynb_checkpoints
.ipynb_checkpoints/*
*.ipynb_checkpoints*
