langdetect>=1.0.9
joblib>=1.2.0
lxml>=4.9.1
nltk>=3.6.6
numpy>=1.26.4
pybind11>=2.8.1
scikit-learn>=1.3.0
scipy>=1.10.0
six>=1.16.0
tqdm>=4.64.1
unidecode>=1.3.2
pandas>=2.2.0
pyarrow>=15.0.0
argparse>=1.4.0
regex>=2022.10.31
matplotlib>=3.6.2
imbalanced-learn>=0.8.1
gensim>=4.3.2